* {
    margin: 0;
    padding: 0;
}

:root {
    --main-white: #FFFFFF;
    --gray-second: #C0C0C0;
    --blue-button: #167BFF;
    --background-color: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #9b6bf5;
}

body {
    background-color: var(--background-color);
    color: var(--main-white);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__bloco {
    margin: 0 6rem;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__img {
    margin: 1rem 0 2em 0;
}

.container__botao {
    background-color: var(--blue-button);
    border: 2px solid var(--blue-button);
    border-radius: 8px;
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: var(--main-white);
    margin-bottom: 1rem;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--background-color)
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--main-white);
}

.container__aviso {
    font-size: .75rem;
    color: var(--gray-second);
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10.31rem;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--main-white);
    margin-bottom: 0.1rem;
}

.descricao__texto {
    color: var(--gray-second)
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.container__descricao {
    padding: 2rem;
}

.dispositivo {
    text-align: center;
}

.dispositivo__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--main-white);
}

.dispositivo__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2.5rem 0;
}

.lista__item {
    font-weight: 700;
    font-size: 2rem;
    color: var(--main-white);
}

.rodape {
    text-align: center;
    margin: 5rem 3rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 2rem;
}

.rodape__lista-link a {
    text-decoration: none;
    color: var(--main-white);
    margin-left: 1rem;
}

.rodape__texto {
    color: var(--gray-second);
    font-size: 0.87rem;
    margin: 1rem 0;

}

.rodape__lista-link a:hover {
    color: var(--blue-button)
}


.rodape__lista-link a:link {
    color: red;
}

.rodape__lista-link a:active {
    color: var(--gray-second)
}

.rodape__lista-link a:visited {
    color: purple;
}

.rodape__lista-link a:focus {
    color: yellow;
}